$primary: #000;
$secondary: rgb(8, 35, 102);


.title,
.description {
    text-align: center;
}

.description {
    // margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
    color: black;
}

.parallax h1 {
    position: absolute;
    padding-top: 15vw;
    padding-left: 16vw;
    padding-bottom: 15vw;
    color: #fff;
    font-size: 5vw
}

.parallax {
    box-shadow: inset 0 0 0 1000px rgba(24, 144, 255, 0.4);
    background-image: url("/assets/images/free-services.png");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb {
    color: #fff;
    font-size: larger;
    padding-top: 22vw;
    padding-left: 16vw;
    padding-bottom: 15vw;
}
.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#assessment {
    display: flex;
    justify-content: center;
}

.assessmentCard {
    justify-self: center;
    border-radius: 10%;
    color: #000 !important;
    margin: 0.5rem;
    // padding: 1rem;
    background-color: rgb(8, 35, 102,0.1);
    text-align: center !important;
    color: inherit;
    text-decoration: none;
    min-width: 350px;
    min-height: 230px;
}

.assessmentCard:hover {
    
    transition: 0.3s;
    transform: scale(1.1);
}

.questionnaire{
    background-color: rgb(210, 228, 224);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px 0px;
    padding: 3rem 2rem;
    border-radius: 4px;
    margin-bottom: 60px;
    text-align: center;
}
.question{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px 0px;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    text-align: left;
}
.button{
    margin: 15px;
    text-align: left;
}
@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
    .parallax {
        box-shadow: inset 0 0 0 1000px rgba(24, 144, 255, 0.4);
        background-image: url("/assets/images/free-services-mobile.png");
        /* Full height */
        height: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax h1 {
        color: #fff;
        padding-top: 30vw;
        font-size: 8vw;
    }

    .breadcrumb {
        font-size: larger;
        padding-top: 40vw;
        padding-left: 16vw;
        padding-bottom: 15vw;
    }

}