:root {
  --bs-primary: #082366 !important;
}

html,
body {
 
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Header styles */
#header {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

#header a {
  color: var(--bs-primary) !important;
}

#header span {
  color: var(--bs-primary) !important;
}

#header span:hover {
  color: var(--bs-info) !important;
}

#header a:hover {
  color: var(--bs-info) !important;
}

.navbar-nav {
  align-items: center;
}

#header-dropdown-items {
  color: var(--bs-primary) !important;
}

#header-dropdown-items:hover {
  background: var(--bs-primary) !important;
  color: white !important;
}

.ant-menu-item-selected::after {
  border-bottom: none !important;
}

.ant-menu-horizontal>.ant-menu-item::after,
.ant-menu-horizontal>.ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-horizontal {
  /* border-bottom: none !important; */
}

/* Footer styles */

.footer-links {
  list-style-type: none;
  margin: 1ch;
  padding: 0;

}

.footer-links a {
  text-decoration: none;
  color: var(--bs-primary) !important;
}

.footer-links a:hover {
  /* text-decoration: none; */
  color: var(--bs-info) !important;
}

.footerContact a {
  color: #082366 !important;
}

.footerContact a:hover {
  /* text-decoration: none; */
  color: var(--bs-info) !important;
}