:root {
  --bs-primary: rgb(8, 35, 102) !important;
}

html,
body {
  /* background-color: rgb(8, 35, 102, 0.9); zaroor daalo isse */
 width: 100% !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Header styles */
#header {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}
#navbarButton span{
  border-color: var(--bs-info) !important;
  color: #ffffff !important;
  /* background: var(--bs-info) !important; */
}
#header a {
  color: var(--bs-primary);
}

#header span {
  color: var(--bs-primary);
}

#header span:hover {
  color: var(--bs-info);
}

#header a:hover {
  color: var(--bs-info) !important;
}

.navbar-nav {
  align-items: center;
}

#header-dropdown-items {
  color: var(--bs-primary) !important;
}

#header-dropdown-items:hover {
  background: var(--bs-primary) !important;
  color: white !important;
}

.ant-menu-item-selected::after {
  border-bottom: none !important;
}

.ant-menu-horizontal>.ant-menu-item::after,
.ant-menu-horizontal>.ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-horizontal {
  /* border-bottom: none !important; */
}

/* Footer styles */

.footer-links {
  list-style-type: none;
  margin: 1ch;
  padding: 0;

}

.footer-links a {
  text-decoration: none;
  color: var(--bs-primary) !important;
}

.footer-links a:hover {
  /* text-decoration: none; */
  color: var(--bs-info) !important;
}

.footerContact a {
  color: #082366 !important;
}

.footerContact a:hover {
  /* text-decoration: none; */
  color: var(--bs-info) !important;
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: var(--bs-primary);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bs-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bs-primary);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: var(--bs-primary);
  background-color: #f7f5ec;
}
/* .ant-form-item-required{
  color: white !important;
} */