
.contentStyle {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: 0;
}


.card {
  margin: 1rem;
  /* padding: 1.5rem; */
  background-color: #e6e6e6;
  text-align: center !important;
  color: inherit;
  text-decoration: none;
  max-width: 250px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #fff;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.questionnaire{
  display: flex;
}
.questionnaire div{
  flex-basis: 25%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .questionnaire{
    display: flex;
    flex-direction: column;
  }
}