
.contentStyle {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: 0;
}


.card {
  margin: 1rem;
  /* padding: 1.5rem; */
  background-color: #f2f8f9;
  text-align: center !important;
  color: inherit;
  text-decoration: none;
  max-width: 250px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #fff;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.questionnaire{
  display: flex;
}
.questionnaire div{
  flex-basis: 25%;
}

.assessors{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#assessment {
  background-image: url('/assets/images/assessment-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}
.assessmentCard {
  margin: 1rem;
  padding: 2.5rem;
  background-color: #f2f8f9;
  text-align: center !important;
  color: inherit;
  text-decoration: none;
  max-width: 300px;
}
.assessmentCard:hover {
  color: #082366;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .questionnaire{
    display: flex;
    flex-direction: column;
  }
  .assessors{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}